<section class="logistics-plug j_logistics_plug">
    <div class="logistics-plug-top clearfix">
        <i class="icon iconfont j_close_btn fr icon-cancel-font"></i>
        <p class="title"></p>
    </div>
    <div class="logistics-plug-info">
        <ul class="logistics-list">
            {{#if data.line}}
                <li class="j_logistics_li b-bottom">
                    <a href="{{data.line}}">{{data.line}}</a>
                </li>
            {{/if}}
            {{#if data.tel}}
                <li class="j_logistics_li b-bottom">
                    <a href="tel:{{data.tel}}">打电话</a>
                </li>
                <li class="j_logistics_li b-bottom">
                    <a href="sms:{{data.tel}}">发短息</a>
                </li>
                <li class="j_logistics_li b-bottom">
                    <span>{{data.tel}}</span>
                </li>
            {{/if}}
        </ul>
    </div>
</section>
<section class="logistics_plug_cover j_logistics_plug_cover"></section>