{{!--选择支付类型--}}
<div class="trade-plug">
    <div class="trade-box j_sel_payment clearfix">
        <div class="trade-box-title">
            {{lang.SELECT_TRADE_TYPE}}
        </div>
        <div class="divide"></div>
        <div class="trade-items">
            <div class="trade-item">
                {{!--添加class checkbox-disabled 表示禁用--}}
                <div class="checkbox-div j_trade_sel" data-tradetype="1">
                    <div class="checkbox-warp">
                        <div class="checkbox"></div>
                    </div>
                    {{lang.TRADE_TYPE_ZHIJIE}}
                </div>
            </div>
            <div class="divide"></div>
            <div class="trade-item">
                <div class="checkbox-div j_trade_sel {{#if isOpenWarrant}}{{else}}checkbox-disabled{{/if}}" data-tradetype="2">
                    <div class="checkbox-warp">
                        <div class="checkbox"></div>
                    </div>
                    {{lang.TRADE_TYPE_DANBAO}}
                </div>
            </div>
        </div>
    </div>
    <div class="trade-tip">
        <a href="{{host.host}}html/applyrefundtypeexplain.php" target="_blank">{{lang.TRADE_QUBIE_TIP}}</a>
    </div>
</div>
