{{#if data}}
    {{#eq type 'twoItem'}}
        {{#if isdefault}}
            <section class="items-box model-box">
        {{else}}
            <section class="items-box model-box j_model_box">
        {{/if}}
            {{{btns}}}
            {{#if data.title}}
            <p class="item-title b-bottom"><span></span>{{data.title}}</p>
            {{/if}}
            <ul class="items-list clearfix j_item_list">
                {{#tagItemList data.data}}{{/tagItemList}}
            </ul>
        </section>
    {{/eq}}
    {{#eq type 'bigitem'}}
        <section class="one-item-box j_model_box">
            {{{btns}}}
            {{#if data.title}}
                <p class="item-title b-bottom"><span></span>{{data.title}}</p>
            {{/if}}
            <ul class="items-list clearfix j_item_list">
                {{#tagItemList data.data}}{{/tagItemList}}
            </ul>
        </section>
    {{/eq}}
    {{#eq type 'listitem'}}
        <section class="item-list-box j_model_box">
            {{{btns}}}
            {{#if data.title}}
                <p class="item-title b-bottom"><span></span>{{data.title}}</p>
            {{/if}}
            <ul class="">
                {{#itemlist data.data}}{{/itemlist}}
            </ul>
        </section>
    {{/eq}}
{{else}}
    <section class="empty-sort">
        <i class="icon iconfont icon-empty-font"></i>
        <p>{{lang.H5_SORT_EMPTY}}</p>
    </section>
{{/if}}
