<section class="navigation-box j_model_box">
    {{{btns}}}
    {{#if data.title}}
        <p class="item-title b-bottom"><span></span>{{data.title}}</p>
    {{/if}}
    {{#eq type 'text'}}
        <ul class="nav-text-ul">
        {{#each data.data}}
            <li class="b-top">
                <a class="block clearfix" href="javascript:;">
                    <i class="icon iconfont icon-go-font fr"></i>
                    <span>{{navigation_name}}</span>
                </a>
            </li>
        {{/each}}
        </ul>
    {{else}}
        <div class="nav-img-box j_nav_img_box">
            <ul class="nav-img-ul clearfix">
                {{#each data.data}}
                    <li class="">
                        <a class="block clearfix" href="javascript:;">
                            <div class="lazy" data-img="{{img}}"></div>
                            <p class="">{{navigation_name}}</p>
                        </a>
                    </li>
                {{/each}}
            </ul>
        </div>
    {{/eq}}
</section>