<section class="shop-header">
    <button class="handle-btn j_edit_model">Edit</button>
    <img class="shop-header-bg" data-img="{{transshopbgimgurl data.shop.front_cover}}" src="">
    <div class="clearfix shop-info">
        <div class="shop-img">
            <img data-img="{{transimgurl data.shop.logo}}" src=""/>
        </div>
        <p>{{data.shop.name}}</p>
    </div>
</section>
<section class="shop-explain j_down_box">
    <div>
        <span class="top-angle"></span>
        <div class="txt">
            {{{transtxt data.shop.note}}}
        </div>
        <div class="txt-hide">
            {{{transtxt data.shop.note}}}
        </div>
        <p><i class="icon iconfont j_down_btn down-btn"></i></p>
    </div>
</section>