<nav class="header-nav clearfix ">
    <i class="icon iconfont j_go_back icon-back-font"></i>
    {{lang.H5_SHOPPING_CART}}
</nav>
<section class="cart-list j_cart_list">
    <ul class="">
        {{{carts cart}}}
    </ul>
    {{#if cart}}
        <button class="btn j_submit_btn confirm-btn">{{lang.H5_MAKE_ORDER}}</button>
        {{else}}
        <button class="btn j_go_shop confirm-btn">{{lang.H5_BROWSE_SHOP}}</button>
    {{/if}}
    {{for}}
    {{!--仓库card--}}
    <div class="cart-supplier-card">
        <div>仓库title</div>
        <ul>
            <li class="clearfix cart-item j_cart_item">
                <i class="icon iconfont j_del_cart icon-delete-font" data-id="'+_id+'"></i>
                <img src="'+carts[item].item.img+'">
                <div class="">
                    <p class="name">hahaha1</p>
                    <p class="num">2</p>
                    <p class="price">Rq. 10.0</p>
                </div>
            </li>
            <li class="clearfix cart-item j_cart_item">
                <i class="icon iconfont j_del_cart icon-delete-font" data-id="'+_id+'"></i>
                <img src="'+carts[item].item.img+'">
                <div class="">
                    <p class="name">hahaha2</p>
                    <p class="num">2</p>
                    <p class="price">Rq. 10.0</p>
                </div>
            </li>
            <li class="clearfix cart-item j_cart_item">
                <i class="icon iconfont j_del_cart icon-delete-font" data-id="'+_id+'"></i>
                <img src="'+carts[item].item.img+'">
                <div class="">
                    <p class="name">hahaha3</p>
                    <p class="num">2</p>
                    <p class="price">Rq. 10.0</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="cart-supplier-card">
        <div>仓库title</div>
        <ul>
            <li class="clearfix cart-item j_cart_item">
                <i class="icon iconfont j_del_cart icon-delete-font" data-id="'+_id+'"></i>
                <img src="'+carts[item].item.img+'">
                <div class="">
                    <p class="name">hahaha1</p>
                    <p class="num">2</p>
                    <p class="price">Rq. 10.0</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="cart-supplier-card">
        <div>仓库title</div>
        <ul>
            <li class="clearfix cart-item j_cart_item">
                <i class="icon iconfont j_del_cart icon-delete-font" data-id="'+_id+'"></i>
                <img src="'+carts[item].item.img+'">
                <div class="">
                    <p class="name">hahaha1</p>
                    <p class="num">2</p>
                    <p class="price">Rq. 10.0</p>
                </div>
            </li>
            <li class="clearfix cart-item j_cart_item">
                <i class="icon iconfont j_del_cart icon-delete-font" data-id="'+_id+'"></i>
                <img src="'+carts[item].item.img+'">
                <div class="">
                    <p class="name">hahaha2</p>
                    <p class="num">2</p>
                    <p class="price">Rq. 10.0</p>
                </div>
            </li>
        </ul>
    </div>

</section>