<section class="order-state" data-spider="order-state">
    <div>
        {{#eq data.order.state 0}}
            {{lang.H5_ORDER_STATUS}}: {{data.order.state_txt}}
        {{/eq}}
        {{#eq data.order.state 1}}
            {{lang.H5_ORDER_STATUS}}: {{data.order.state_txt}}
            <p>{{data.order.cancel_countdown}}</p>
        {{/eq}}
        {{#eq data.order.state 2}}
            <div class="other-state clearfix">
                <div>{{lang.H5_ORDER_STATUS}}: </div>
                <div>Pembayaran Terkonfirmasi<br>Menunggu Pengiriman</div>
            </div>
        {{/eq}}
        {{#eq data.order.state 3}}
            {{lang.H5_ORDER_STATUS}}: {{data.order.state_txt}}
        {{/eq}}
        {{#eq data.order.state 4}}
            {{lang.H5_ORDER_STATUS}}: {{data.order.state_txt}}
        {{/eq}}
        {{#eq data.order.state 5}}
            {{lang.H5_ORDER_STATUS}}: {{data.order.state_txt}}
        {{/eq}}
        {{#eq data.order.state 6}}
            {{lang.H5_ORDER_STATUS}}: {{data.order.state_txt}}
        {{/eq}}
        {{#eq data.order.state 7}}
            {{lang.H5_ORDER_STATUS}}: {{data.order.state_txt}}
        {{/eq}}
        {{#eq data.order.state 8}}
            {{lang.H5_ORDER_STATUS}}: {{data.order.state_txt}}
        {{/eq}}
    </div>
    <p data-spider="bank-info">
        <a spm-auto="查看收款账号" spm-click="check-bankinfo" href="{{hrefUrl}}evidencepayment.php?price={{data.order.total_price}}&detail=4" class="">
            <i class="icon iconfont fr icon-go-font"></i>{{lang.H5_CHECK_ACCOUNT_RECEIVABLES}}
        </a>
    </p>
    {{#eq data.order.ship_status 1}}
        <div class="logistics-info">
            {{#eq data.order.logistics_info.express.express_company_id 0}}
                <p style="line-height:3">Kirim Langsung</p>
            {{else}}
                <a spm-auto="查看物流详情" spm-click="check-logistics-info" href="{{hrefUrl}}logistics.php?order_id={{data.order.id_hash}}&logistics_id={{data.order.express_info_id}}" class="clearfix">
                    <i class="icon iconfont fr icon-go-font"></i>
                    <p>{{data.order.logistics_info.last_checkpoint.message}}{{#empty data.order.logistics_info.last_checkpoint.message}}{{lang.H5_NO_LOGISTICS_UPDATE}}{{/empty}}</p>
                    <p>{{data.order.logistics_info.express.title}} {{data.order.logistics_info.express.express_no}}</p>
                </a>
            {{/eq}}
        </div>
    {{/eq}}
</section>
<section class="user-info-box">
    <div class="address-box">
        <div class="clearfix user-info">
            <span class="fr">{{data.order.buyer_telephone}}</span>
            <i class="icon iconfont fr icon-phone-font"></i>
            <i class="icon iconfont fl icon-address-font"></i>
            <span class="fl">{{data.order.buyer_name}}</span>
        </div>
        <div class="user-address-info">
            <div class="address-info">
                {{data.order.buyer_address.street}}, {{data.order.buyer_address.country}}, {{data.order.buyer_address.city}} {{data.order.buyer_address.post}}, {{data.order.buyer_address.province}}
            </div>
            {{#nempty data.order.logistics_info.express_buyer.title}}
                {{#if data.order.logistics_info.express_buyer.express_expect_day}}
                    <div>{{lang.H5_LOGISTICS}}: {{data.order.logistics_info.express_buyer.title}}({{data.order.logistics_info.express_buyer.express_expect_day}})</div>
                {{else}}
                    <div>{{lang.H5_LOGISTICS}}: {{data.order.logistics_info.express_buyer.title}}</div>
                {{/if}}

            {{/nempty}}
        </div>
    </div>
</section>
{{#if data.order.buyer_note}}
    <section class="buyer-note">
        {{lang.H5_BUYER_NOTE}}: {{data.order.buyer_note}}
    </section>
{{/if}}

<section class="">
    <div class="list-box">
        <ul class="order-items">
            {{#each data.order.items}}
                {{!--担保交易--}}
                {{#neq ../data.order.warrant_status "nowarrant"}}
                    <li id="{{#neq item_sku_id 0 }}{{item_sku_id}}{{else}}{{item_id}}{{/neq}}" class="clearfix cart-item">
                        <img src="{{img_head}}">
                        <div class="clearfix">
                            <p class="name">{{{transtxt item_title}}}</p>
                            {{#if item_sku_title}}
                                <p class="type">{{../../../lang.H5_ITEM_SKU}}: {{item_sku_title}}</p>
                            {{/if}}
                        </div>
                        <div class="cart-item-price">
                            <p class="price clearfix">Rp {{transprice price}} x{{quantity}}</p>
                            {{#if discount.value}}<p class="origin-price clearfix">Rp {{transprice total_price}}</p>{{/if}}
                        </div>
                        <div class="clearfix">
                            {{#each op}}
                                {{#eq this "pre_refund"}}
                                    <span data-item-id="{{../../item_id}}" data-item-sku-id="{{../../item_sku_id}}" data-url="{{../../../../host}}html/applyrefund.php" class="refund-btn j_apply_refund fr">{{../../../../lang.REFOUND_BTN_APPLY_TXT}}</span>
                                {{/eq}}
                                {{#eq this "refund_detail"}}
                                    <span data-item-id="{{../../item_id}}" data-item-sku-id="{{../../item_sku_id}}" data-url="{{../../../../host}}html/applyrefunddetail.php" class="refund-btn j_check_refund fr">{{../../../../lang.REFOUND_BTN_PROCESS_TXT}}</span>
                                {{/eq}}
                            {{/each}}
                        </div>
                    </li>
                {{else}}
                    {{!--非担保交易--}}
                    <li id="{{#if item_sku_id}}{{item_sku_id}}{{else}}{{item_id}}{{/if}}" class="clearfix cart-item">
                        <img src="{{img_head}}">
                        <div class="">
                            <p class="name">{{item_title}}</p>
                            {{#if item_sku_title}}
                                <p class="type">{{../../../lang.H5_ITEM_SKU}}: {{item_sku_title}}</p>
                            {{/if}}
                            <p class="num">{{../../lang.H5_QUANTITY}}: {{quantity}}</p>
                            <p class="price clearfix">{{../../lang.H5_PRICE}}: {{#if discount.value}}<span class="fr">-{{transpricevalue discount.value}}%</span>{{/if}}Rp {{transprice price}}</p>
                        </div>
                    </li>
                {{/neq}}
            {{/each}}
        </ul>
        <!--{{#if isHaveReduc}}-->
        <!--<div class="reduc-info b-bottom">-->
            <!--<p class="clearfix"><span class="fr j_reduc_price">-Rp {{transprice data.order.shop_discount.discount_price}}</span>{{lang.H5_REDUC_PAVORABLE}}: </p>-->
        <!--</div>-->
        <!--{{/if}}-->
        <!--{{#if data.order.coupon}}-->
        <!--<div class="reduc-info b-bottom">-->
            <!--<p class="clearfix"><span class="fr">-Rp {{transprice data.order.coupon.amount}}</span>{{lang.H5_FAVORABLE_TITLE_PRICE}}: </p>-->
        <!--</div>-->
        <!--{{/if}}-->
        <div class="order-info">
            <p class="clearfix"><span class="fr">Rp {{transprice data.order.items_price}}</span>{{lang.H5_GOOD_COST}}: </p>
            {{#if isHaveReduc}}
            <p class="clearfix"><span class="fr j_reduc_price">-Rp {{transprice data.order.shop_discount.discount_price}}</span>{{lang.H5_REDUC_PAVORABLE}}: </p>
            {{/if}}
            {{#if data.order.coupon}}
            <p class="clearfix"><span class="fr">-Rp {{transprice data.order.coupon.amount}}</span>{{lang.H5_FAVORABLE_TITLE_PRICE}}: </p>
            {{/if}}
            <p class="clearfix"><span class="fr">Rp {{transprice data.order.express_fee}}</span>{{lang.H5_SHIPPING_COST}}: </p>
            <p class="clearfix"><span class="fr">Rp {{transprice data.order.total_price}}</span>{{lang.H5_ORDER_TOTAL_PRICE}}: </p>
        </div>
    </div>
</section>
{{!--未登录都提示登录--}}
{{#neq data.order.warrant_status "nowarrant"}}
    {{#if isLogin}}
        <div class="order-login-tip clearfix">
            <div class="fr order-login-btn">
                Login
            </div>
            <p>{{../lang.DANBAO_ORDER_UNLOGIN_TIP}}</p>
        </div>
    {{else}}
        {{{transbtn data.order.op}}}
    {{/if}}
{{/neq}}
{{!--普通订单 直接展示op--}}
{{#eq data.order.warrant_status "nowarrant"}}
    {{{transbtn data.order.op}}}
{{/eq}}