<nav class="shop-header-nav clearfix">
    <div class="fr">
        <button class="j_cart_wraper" data-url="{{hrefUrl}}cart.php">
            {{#if num}}
            <span class="cart-num">{{num}}</span>
            {{/if}}
            <i class="icon iconfont">&#xe643;</i>
        </button>
        <div class="btn-cover"></div>
    </div>
</nav>
<section class="shop-header">
    <img class="shop-header-bg" src="{{data.shop.front_cover}}">
    <div class="clearfix shop-info">
        <img src="{{data.shop.logo}}"/>
        <p>{{data.shop.name}}</p>
    </div>
</section>
<section class="shop-explain">
    <div>
        <span class="top-angle"></span>
        <div class="txt">
            {{{transtxt data.shop.note}}}
        </div>
        <div class="txt-hide">
            {{{transtxt data.shop.note}}}
        </div>
        <p><i class="icon iconfont j_down_btn down-btn"></i></p>
    </div>
</section>
<section class="items-box">
    {{#if data.item_list.list}}
        <p class="item-title"><span></span>{{lang.H5_GOODS_HOT}}</p>
        <ul class="items-list clearfix">
            {{#hotItemList data.item_list.list}}{{/hotItemList}}
            <!--<li>-->
            <!--<a class="item-info" href="">-->
            <!--<div class="lazy" data-img="http://imghk0.geilicdn.com/test_instashop40730-1460555321750-1.png?w=210&h=210"></div>-->
            <!--<p class="title">asdfasdflkajsdlkfjalkdjflkajdlfkajkldsf</p>-->
            <!--<p class="price">RP 110.000</p>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a class="item-info" href="">-->
            <!--<div class="lazy" data-img="http://imghk0.geilicdn.com/test_instashop40730-1460555321750-1.png?w=210&h=210"></div>-->
            <!--<p class="title">asdfasdflkajsdlkfjalkdjflkajdlfkajkldsf</p>-->
            <!--<p class="price">RP 110.000</p>-->
            <!--</a>-->
            <!--</li>-->
        </ul>
    {{/if}}
</section>
<section class="items-box">
    <p class="item-title"><span></span>{{lang.H5_GOODS_ORTHER}}</p>
    <ul class="items-list j_item_list clearfix">
        {{#itemList data.item_list.list}}{{/itemList}}
        <!--<li>-->
            <!--<a class="item-info" href="">-->
                <!--<div class="lazy" data-img="http://imghk0.geilicdn.com/test_instashop40730-1460555321750-1.png?w=210&h=210"></div>-->
                <!--<p class="title">asdfasdflkajsdlkfjalkdjflkajdlfkajkldsf</p>-->
                <!--<p class="price">RP 110.000</p>-->
            <!--</a>-->
        <!--</li>-->
        <!--<li>-->
            <!--<a class="item-info" href="">-->
                <!--<div class="lazy" data-img="http://imghk0.geilicdn.com/test_instashop40730-1460555321750-1.png?w=210&h=210"></div>-->
                <!--<p class="title">asdfasdflkajsdlkfjalkdjflkajdlfkajkldsf</p>-->
                <!--<p class="price">RP 110.000</p>-->
            <!--</a>-->
        <!--</li>-->
    </ul>
</section>
<a class="contact-services" href="{{data.shop.im_url}}">
    <span class="im-num j_im_num"></span>
    <i class="icon iconfont ser-icon"></i>
    {{lang.H5_CONNACT_SELLER}}
</a>