<nav class="shop-header-nav clearfix">
    <div class="fl">
        <button class="j_go_back">
            <i class="icon iconfont">&#xe62a;</i>
        </button>
        <div class="btn-cover"></div>
    </div>
    <div class="fr">
        <button class="j_cart_wraper" data-url="{{hrefUrl}}cart.php">
            {{#if num}}
                <span class="cart-num">{{num}}</span>
            {{/if}}
            <i class="icon iconfont">&#xe643;</i>
        </button>
        <div class="btn-cover"></div>
    </div>
</nav>
<section class="item-info">
    <div class="banner-box">
        <ul class="item-banner j_banner clearfix">
            {{{itemimgs data.item.imgs}}}
        </ul>
    </div>
    <div class="info-box">
        <p class="title">
            {{data.item.item_name}}
        </p>
        {{#if data.item.is_discount}}
            <p class="price discount-price">
                Rp {{transprice data.item.discount.price}}
            </p>
            <p class="price-lang">Rp{{transprice data.item.discount.min_price}}-{{transprice data.item.discount.max_price}}</p>
            <p class="discount-info">
                <span>-{{data.item.discount.value}}%</span>

                {{#if data.item.discounting}}
                    Time remaining:
                    <span data-time="{{timeLang.second}}">{{timeLang.time}}</span>
                {{else}}
                    Start time
                    {{data.item.discount.start_time}}
                {{/if}}
            </p>
        {{else}}
            <p class="price">
                Rp {{transprice data.item.price}}
            </p>
        {{/if}}
        <a href="javascript:;" data-url="{{data.item.shop.url}}" class="go-shop j_shop_info">
            <div class="clearfix shop-info">
                <i class="icon iconfont fr">&#xe63e;</i>
                <img class="fl" src="{{data.item.shop.logo}}"/>
                <p>{{data.item.shop.name}}</p>
            </div>
        </a>
    </div>
    <div class="shop-explain">
        <span class="top-angle"></span>
        <div class="txt">
            {{data.item.shop.note}}
        </div>
        <p><i class="icon iconfont j_down_btn down-btn"></i></p>
    </div>
</section>
<section class="buy-box">
    <a href="{{item.shop.im_url}}" class="ser-box fl">
        <span class="im-num j_im_num"></span>
        <i class="icon iconfont ser-icon"></i>
        <p>{{lang.H5_CONNACT_SELLER}}</p>
    </a>
    <div class="clearfix buy-btns">
        <a class="add-cart j_add_cart" data-id="{{data.item.id}}" href="javascript:;">
            {{lang.H5_ADD_CART}}
        </a>
        <a href="javascript:;" class="buy-now j_buy_btn">
            {{lang.H5_BUY_NOW}}
        </a>
    </div>
</section>