<nav class="decorate-sample-tab">
    <ul class="decorate-avg-sm-3">
        <li class="decorate-sample-tab-item decorate-sample-tab-active" data-tabid="imageads">{{lang.H5_MODELTYPE_AD_IMG}}</li>
        <li class="decorate-sample-tab-item" data-tabid="navigation">{{lang.H5_MODELTYPE_NAVIGATION}}</li>
        <li class="decorate-sample-tab-item" data-tabid="recommended">{{lang.H5_MODELTYPE_RECOMMENDED}}</li>
    </ul>
</nav>
<div class="clearfix">
    <div class="decorate-sample-panel" id="imageads">
        <section>
            <p><span>{{lang.H5_MODELTYPE_AD_NORMAL}}</span></p>
            <div class="imageads-1 decorate-sample-block j_model_type" data-type="static_banner">
                {{lang.H5_MODELTYPE_SIZE_UNLIMIT}}
            </div>
        </section>
        <section>
            <p><span>{{lang.H5_MODELTYPE_AD_SLIDE}}</span></p>
            <div class="imageads-2 decorate-sample-block j_model_type" data-type="rotate_banner">
                {{lang.H5_MODELTYPE_SIZE_43}}
                <div class="imageads-2-slidehander">
                    <i></i>
                    <i></i>
                    <i></i>
                </div>
            </div>
        </section>
        <section>
            <p><span>{{lang.H5_MODELTYPE_TWOCOLUMNAD}}</span></p>
            <div class="imageads-3">
                <ul class="decorate-avg-sm-2 lazy">
                    <li>
                        <div class="j_model_type" data-type="two_list_banner"><span>{{lang.H5_MODELTYPE_SIZE_43}}</span></div>
                    </li>
                    <li class="pull-right">
                        <div><span class="j_model_type" data-type="two_list_banner">{{lang.H5_MODELTYPE_SIZE_43}}</span></div>
                    </li>
                </ul>

            </div>
        </section>
    </div>
    <div class="decorate-sample-panel" id="navigation">
        <section>
            <p><span>{{lang.H5_MODELTYPE_NAV_IMGTEXT}}</span></p>
            <div class="navigation-1 decorate-sample-block j_model_type" data-type="img_navigation">
                <ul class="decorate-avg-sm-4">
                    <li>
                        <div class="navigation-1-img">
                        </div>
                        <div class="title navigation-1-title">Menu1</div>
                    </li>
                    <li>
                        <div class="navigation-1-img">
                        </div>
                        <div class="title navigation-1-title">Menu2</div>
                    </li>
                    <li>
                        <div class="navigation-1-img">
                        </div>
                        <div class="title navigation-1-title">Menu3</div>
                    </li>
                    <li>
                        <div class="navigation-1-img">
                        </div>
                        <div class="title navigation-1-title">Menu4</div>
                    </li>
                </ul>
            </div>
        </section>
        <section>
            <p><span>{{lang.H5_MODELTYPE_NAV_TXT}}</span></p>
            <div class="navigation-2 decorate-sample-block j_model_type" data-type="text_navigation">
                <ul>
                    <li>Menu1</li>
                    <li>Menu2</li>
                    <li>More...</li>
                </ul>
            </div>
        </section>
    </div>
    <div class="decorate-sample-panel" id="recommended">
        <section>
            <p><span>{{lang.H5_MODELTYPE_TYPE_TWOCOLUMN}}</span></p>
            <div class="decorate-sample-block recommended-1 j_model_type" data-type="two_li_items">
                <ul class="decorate-avg-sm-2">
                    <li>
                        <div class="recommended-1-img pull-left"></div>
                        <div class="title recommended-1-desc">{{lang.H5_MODELTYPE_GOOD_DESC}}</div>
                        <div class="price recommended-1-price">Rp 50.000</div>
                    </li>
                    <li class="pul-right">
                        <div class="recommended-1-img pull-right"></div>
                        <div class="title recommended-1-desc pull-left">{{lang.H5_MODELTYPE_GOOD_DESC}}</div>
                        <div class="price recommended-1-price pull-left">Rp 50.000</div>
                    </li>
                </ul>
            </div>
        </section>
        <section>
            <p><span>{{lang.H5_MODELTYPE_TYPE_BIGIMG}}</span></p>
            <div class="recommended-2 decorate-sample-block j_model_type" data-type="big_img_item">
                <div class="recommended-2-img">
                </div>
                <div class="title recommended-2-title">{{lang.H5_MODELTYPE_GOOD_DESC}}</div>
                <div class="price recommended-2-price">Rp 50.000</div>
            </div>
        </section>
        <section>
            <p><span>{{lang.H5_MODELTYPE_TYPE_LIST}}</span></p>
            <div class="recommended-3 decorate-sample-block j_model_type" data-type="list_items">
                <ul class="">
                    <li class="clearfix">
                        <div class="recommended-3-img pull-left j_item_info" href="javascript:;">
                        </div>
                        <div class="recommended-3-desc">
                            <div class="title">{{lang.H5_MODELTYPE_GOOD_DESC}}</div>
                            <div class="price">Rp 50.000</div>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="recommended-3-img pull-left j_item_info" href="javascript:;">
                        </div>
                        <div class="recommended-3-desc">
                            <div class="title">{{lang.H5_MODELTYPE_GOOD_DESC}}</div>
                            <div class="price">Rp 50.000</div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

    </div>
</div>