{{#if detail}}
    {{#eq detail 1}}
        <nav class="header-nav clearfix ">
            <i class="icon iconfont j_go_back icon-back-font"></i>
            Informasi Pembayaran
        </nav>
    {{/eq}}
{{else}}
    <nav class="header-nav clearfix ">
        <i class="icon iconfont fr icon-allright-font j_go_back"></i>
        Informasi Pembayaran
    </nav>
{{/if}}

{{#if detail}}
    {{#eq detail 2}}
        <section class="top-status">
            <div >
                1.Alamat Pengiriman
            </div>
            <div class="act">
                2.Informasi Pembayaran
            </div>
        </section>
    {{/eq}}
{{/if}}

    {{#if detail}}
        {{#eq detail 2}}
            <section class="quick-box">
                <p class="quick-order-txt">
                    {{lang.H5_SUCCESS_MSG}}
                </p>
            </section>
        {{/eq}}
    {{else}}
        <section class="quick-box">
            <p class="quick-order-txt">
                {{lang.H5_SUCCESS_MSG}}
            </p>
        </section>
    {{/if}}

<section class="order-box">

    <p class="order-info clearfix">
        <!--<span class="fr j_total"></span>-->
        Jumlah Total
    </p>
    <p class="total-price j_total">
        Rp {{totalPrice}}
    </p>
    <p class="order-content">
        Bayar sesuai jumlah yang tertera (jangan dibulatkan)</br>
        agar pembayaran dapat terkonfirmasi
    </p>

</section>
{{#if detail}}
    {{#eq detail 2}}
        <p class="pay-time-out">
            {{lang.H5_PAY_EXPIRY_DATE}}: {{prompt.cancelTime}}{{lang.H5_DAYS}}
        </p>
    {{/eq}}
{{else}}

    <p class="pay-time-out">
        {{lang.H5_PAY_EXPIRY_DATE}}: {{prompt.cancelTime}}{{lang.H5_DAYS}}
    </p>

{{/if}}
<section class="pay-info">
        {{#eq num 3}}
        <ul class="clearfix three_info">
        {{else}}
        <ul class="clearfix two_act_info">
        {{/eq}}
        {{#if banksInfo.BCA}}
            <li class="tag act j_tag_li" data-tag="bca">
                <p class="bank-info bca">
                    <img src="{{host.imgUrl}}/app/bca.png"/>
                </p>
            </li>
            {{#if banksInfo.Mandiri}}
                <li class="tag j_tag_li" data-tag="mandiri">
                    <p class="bank-info mandiri">
                        <img class="" src="{{host.imgUrl}}/app/mandiri.png"/>
                    </p>
                </li>
            {{/if}}
            {{#if banksInfo.BRI}}
                <li class="tag j_tag_li" data-tag="bri">
                    <p class="bank-info bri">
                        <img src="{{host.imgUrl}}/app/bri.png"/>
                    </p>
                </li>
            {{/if}}
        {{else}}
            {{#if banksInfo.Mandiri}}
                <li class="tag act j_tag_li" data-tag="mandiri">
                    <p class="bank-info mandiri">
                        <img class="" src="{{host.imgUrl}}/app/mandiri.png"/>
                    </p>
                </li>
            {{/if}}
            {{#if banksInfo.BRI}}
                <li class="tag j_tag_li" data-tag="bri">
                    <p class="bank-info bri">
                        <img src="{{host.imgUrl}}/app/bri.png"/>
                    </p>
                </li>
            {{/if}}
        {{/if}}

    </ul>
    <div class="txt-box">
        {{#if banksInfo.BCA}}
            <p class="pay-content j_tag j_tag_bca ">
                Nama Penerima  : PT Insta Shop Indonesia<br>
                Kantor Cabang  : TCT Branch<br>
                Nomor Rekening : 3193197899<br>
                Kode Bank      : 014<br>
            </p>
            <p class="pay-content j_tag j_tag_mandiri hide">
                Nama Penerima  : PT Insta Shop Indonesia<br>
                Kantor Cabang  : Thamrin Nine<br>
                Nomor Rekening : 122-00-0737567-1<br>
                Kode Bank      : 008<br>
            </p>

            <p class="pay-content j_tag j_tag_bri hide">
                Nama Penerima  : PT Insta Shop Indonesia<br>
                Kantor Cabang  : Sarinah<br>
                Nomor Rekening : 2006-01-000142-301<br>
                Kode Bank      : 002<br>
            </p>
            <p class="pay-content j_tag j_tag_bni hide">
                Nama Penerima  : PT Insta Shop Indonesia<br>
                Kantor Cabang  : Grand Indonesia<br>
                Nomor Rekening : 3013088888<br>
                Kode Bank      : 009<br>
            </p>
        {{else}}
            <p class="pay-content j_tag j_tag_bca hide">
                Nama Penerima  : PT Insta Shop Indonesia<br>
                Kantor Cabang  : TCT Branch<br>
                Nomor Rekening : 3193197899<br>
                Kode Bank      : 014<br>
            </p>
            <p class="pay-content j_tag j_tag_mandiri">
                Nama Penerima  : PT Insta Shop Indonesia<br>
                Kantor Cabang  : Thamrin Nine<br>
                Nomor Rekening : 122-00-0737567-1<br>
                Kode Bank      : 008<br>
            </p>

            <p class="pay-content j_tag j_tag_bri hide">
                Nama Penerima  : PT Insta Shop Indonesia<br>
                Kantor Cabang  : Sarinah<br>
                Nomor Rekening : 2006-01-000142-301<br>
                Kode Bank      : 002<br>
            </p>
            <p class="pay-content j_tag j_tag_bni hide">
                Nama Penerima  : PT Insta Shop Indonesia<br>
                Kantor Cabang  : Grand Indonesia<br>
                Nomor Rekening : 3013088888<br>
                Kode Bank      : 009<br>
            </p>
        {{/if}}
        <!--<p class="pay-content j_tag j_tag_bca ">-->
            <!--Nama Penerima  : PT Insta Shop Indonesia<br>-->
            <!--Kantor Cabang  : TCT Branch<br>-->
            <!--Nomor Rekening : 3193197899<br>-->
            <!--Kode Bank      : 014<br>-->
        <!--</p>-->
        <!--<p class="pay-content j_tag j_tag_mandiri hide">-->
            <!--Nama Penerima  : PT Insta Shop Indonesia<br>-->
            <!--Kantor Cabang  : Thamrin Nine<br>-->
            <!--Nomor Rekening : 122-00-0737567-1<br>-->
            <!--Kode Bank      : 008<br>-->
        <!--</p>-->

        <!--<p class="pay-content j_tag j_tag_bri hide">-->
            <!--Nama Penerima  : PT Insta Shop Indonesia<br>-->
            <!--Kantor Cabang  : Sarinah<br>-->
            <!--Nomor Rekening : 2006-01-000142-301<br>-->
            <!--Kode Bank      : 002<br>-->
        <!--</p>-->
        <!--<p class="pay-content j_tag j_tag_bni hide">-->
            <!--Nama Penerima  : PT Insta Shop Indonesia<br>-->
            <!--Kantor Cabang  : Grand Indonesia<br>-->
            <!--Nomor Rekening : 3013088888<br>-->
            <!--Kode Bank      : 009<br>-->
        <!--</p>-->

        <p class="pay-content-explain">
            *Kode bank diperlukan ketika kamu melakukan transfer dari ATM selain Bank <span class="j_name_bca j_name">BCA</span><span class="j_name_mandiri j_name hide">Mandiri</span><span class="j_name_bri j_name hide">BRI</span><span class="j_name_bni j_name hide">BNI</span>.
        </p>
        <p class="f-w">
            Jika ada masalah pembayaran, hubungi kami di:<br>
            Line：@Instashop PH/WA: 0812 8491 8486
        </p>
        <div class="last-explain">
            <p>Catatan:</p>
            <p>    Silakan screenshot atau salin informasi ini untuk kemudahan pembayaran.</p>
            <p>    Informasi pembayaran ini juga akan kami kirimkan melalui SMS ke ponsel kamu.</p>
            <p>    Jika pembayaranmu sudah berhasil, kami akan mengirimkan SMS notifikasi ke ponsel kamu.</p>
        </div>
    </div>
</section>
{{#if detail}}
    {{#eq detail 2}}
        <footer class="clearfix">
            <a href="{{shopUrl}}" class="btn fr confirm-btn">{{lang.H5_IN_SHOP}}</a>
            <a href="{{orderUrl}}" class="btn fl j_plug_submit">{{lang.H5_LOOK_ORDER}}</a>
        </footer>
    {{/eq}}
{{else}}
    <footer class="clearfix">
        <a href="{{shopUrl}}" class="btn fr confirm-btn">{{lang.H5_AGAIN_SHOP}}</a>
        <a href="{{orderUrl}}" class="btn fl j_plug_submit">{{lang.H5_LOOK_ORDER}}</a>
    </footer>
{{/if}}
