<div class="address-wraper">
    <section class="address-form-box">
        <section class="address-wraper">
            <div class="">
                <section class="top-status b-bottom">
                    <div class="act">
                        1.Alamat Pengiriman
                    </div>
                    <div >
                        2.Informasi Pembayaran
                    </div>
                </section>
            </div>
            <section class="cart-list">
                <ul class="j_cart_list">
                    {{{quickcarts carts}}}
                </ul>
            </section>
            <p class="address-title">Silakan isi alamat pengirimanmu</p>
            <div class="user-info">
                <div class="user-name info-box b-bottom">
                    <input class="j_name" type="text" value="{{address.name}}" placeholder="{{lang.H5_USER_NAME_PH}}"/>
                </div>
                <div class="user-tel info-box b-bottom">
                    <span>+62</span>
                    <input class="j_tel" type="tel" value="{{address.telephone}}" placeholder="{{lang.H5_USER_TELE_PH}}" maxlength="20"/>
                </div>

            </div>
            <div class="tel-msg-txt">
                {{lang.H5_CONFIRM_TEL_IS_TRUE}}
            </div>
            <div class="user-address j_user_address">
                <div class="info-box b-bottom b-top act clearfix" data-name="province">
                    <i class="icon iconfont fr icon-go-font"></i>
                    <p class="j_province">{{#if address.address.province}}{{address.address.province}}{{else}}{{lang.H5_PROVINCE}}{{/if}}</p>
                </div>
                <div class="info-box b-bottom {{#if address.address.city}}act{{/if}} clearfix" data-name="city">
                    <i class="icon iconfont fr icon-go-font"></i>
                    <p class="j_city">{{#if address.address.city}}{{address.address.city}}{{else}}{{lang.H5_CITY}}{{/if}}</p>
                </div>
                <div class="info-box b-bottom {{#if address.address.country}}act{{/if}} clearfix" data-name="country">
                    <i class="icon iconfont fr icon-go-font"></i>
                    <p class="j_country">{{#if address.address.country}}{{address.address.country}}{{else}}{{lang.H5_DISTRICT}}{{/if}}</p>
                </div>
                <div class="info-box-address">
                    <textarea class="j_street" placeholder="{{lang.H5_DETAIL_ADDRESS}}">{{#if address.address.street}}{{address.address.street}}{{/if}}</textarea>
                </div>
            </div>
            {{#eq shop.express_free 0}}
            <div class="hiden j_logistics">
                <p class="address-title">{{lang.H5_SELECT_LOGISTICS_COMPANY}}</p>
                <ul class="logistics-list j_logistics_info">
                </ul>
            </div>
            {{/eq}}
            <div class="total-box">
                <div class="total-ps b-top">
                    <p class="total-p clearfix"><span class="fr j_freight">Rp 0</span>Biaya Pengiriman: </p>
                    <p class="total-p clearfix"><span class="fr j_total">Rp 0</span>Jumlah Total: </p>
                </div>
            </div>
            <button class="btn confirm-btn j_submit_buy">{{lang.H5_CREATE_ORDER}}</button>
            <div class="agree-info clearfix">
                <i class="icon iconfont fl icon-checked-font j_check_box"></i>
                <p>{{lang.H5_USE_AGREE_title}}<a href="{{host.host}}html/agreeinfo.php">{{lang.H5_USE_AGREE}}</a></p>
            </div>
        </section>
    </section>
    <section class="address-list-box j_address_list_box">
        <nav class="header-nav address-header-nav j_address_header clearfix">
            <i class="icon iconfont j_go_address icon-back-font"></i>
            {{lang.H5_SHIPPING_ADDRESS}}
        </nav>
        <section class="address-list j_address_list">
            <div class="list-box j_list_box">

            </div>
        </section>
    </section>


</div>