<div class="address-wraper">
    <nav class="header-nav clearfix">
        <i class="icon iconfont j_go_back icon-back-font"></i>
        {{lang.H5_EDIT_REFUND_CARD}}
    </nav>
    <section class="form-box">
        <div class="form-li clearfix">
            <div class="b-bottom g-color b-right form-titie">{{lang.H5_BANK_NAME}} : </div>
            <div class="b-bottom"><input type="text" value="{{data.b_name}}" placeholder="" class="j_bank_name"/></div>
        </div>
        <div class="form-li clearfix">
            <div class="b-bottom g-color b-right">{{lang.H5_SUB_BRANCH}} : </div>
            <div class="b-bottom"><input type="text" value="{{data.b_branch}}"  placeholder="" class="j_branch"/></div>
        </div>
        <div class="form-li clearfix">
            <div class="b-bottom g-color b-right">{{lang.H5_ACCOUNT_NAME}} : </div>
            <div class="b-bottom"><input type="text" value="{{data.c_name}}" placeholder="" class="j_name"/></div>
        </div>
        <div class="form-li clearfix">
            <div class="b-bottom g-color b-right">{{lang.H5_ACCOUNT_NUMBER}} : </div>
            <div class="b-bottom"><input type="tel" value="{{data.c_number}}" placeholder="" class="j_number"/></div>
        </div>
    </section>
    <button class="submit-btn btn confirm-btn j_sub_btn">{{lang.H5_CONFIRM}}</button>
    <section class="address-list-box j_address_list_box">
        <nav class="header-nav address-header-nav j_address_header clearfix">
            <i class="icon iconfont j_go_address icon-back-font"></i>
            <span></span>
        </nav>
        <section class="address-list j_address_list">
            <div class="list-box j_list_box">

            </div>
        </section>
    </section>
</div>