<nav class="shop-header-nav clearfix">
    <div class="fr">
        <button class="j_cart_wraper" data-url="{{hrefUrl}}cart.php">
            {{#if num}}
                <span class="cart-num">{{num}}</span>
            {{/if}}
            <i class="icon iconfont icon-cart-font"></i>
        </button>
    </div>
    <div class="fl">
        <button class="j_go_back">
            <i class="icon iconfont icon-back-font"></i>
        </button>
    </div>
    <p>{{name}}</p>
</nav>
{{#eq data.code 200}}
    {{#if data.item_list.list}}
        <section class="items-box j_item_box" data-spider="sort-item-list">
            {{#if listtype}}
                {{#eq listtype 2}}
                    <ul class="items-list clearfix j_item_list">
                        {{#tagItemList data.item_list.list}}{{/tagItemList}}
                    </ul>
                {{else}}
                    <ul class="three-items-list clearfix j_default_item_list">
                        {{#threeItemList data.item_list.list listtype}}{{/threeItemList}}
                    </ul>
                {{/eq}}
            {{else}}
                <ul class="items-list clearfix j_item_list">
                    {{#tagItemList data.item_list.list}}{{/tagItemList}}
                </ul>
            {{/if}}

        </section>
    {{else}}
        <section class="empty-sort">
            <i class="icon iconfont icon-empty-font"></i>
            <p>{{lang.H5_SORT_EMPTY}}</p>
        </section>
    {{/if}}
{{else}}
    <section class="empty-sort">
        <i class="icon iconfont icon-empty-font"></i>
        <p>{{lang.H5_SORT_DELED}}</p>
    </section>
{{/eq}}





