{{#if detail}}
    {{#eq detail 1}}
        <nav class="header-nav clearfix " data-spider="header-nav">
            {{!--<i class="icon iconfont j_go_back icon-back-font"></i>--}}
            {{lang.ORDER_WARRANT_SUCCESS}}
        </nav>
    {{/eq}}
{{else}}
    <nav class="header-nav clearfix " data-spider="header-nav">
        {{!--<i class="icon iconfont fr icon-allright-font j_go_back"></i>--}}
        {{lang.ORDER_WARRANT_SUCCESS}}
    </nav>
{{/if}}

<section class="warrant-box">
    <p class="warrant-logo">
        <i class="iconfont icon-warrant-complete"></i>
    </p>
    <p class="warrant-tip">
        {{lang.DANBAO_TIP_ONE}} 
        <br>
        {{lang.DANBAO_TIP_TWO}}
    </p>

    <a href="javascript:;" class="warrant-btn warrant-btn-order j_goto_order_detail">
        {{lang.CHECK_ORDER_DETAIL}}
    </a>

    <a href="{{evidenceUrl}}" class="warrant-btn warrant-btn-evidence">
        {{lang.CHECK_PAY_ACCOUNT}}
    </a>

</section>
