<nav class="shop-header-nav clearfix">
    <button class="fr">
        <i class="icon iconfont">&#xe643;</i>
    </button>
</nav>
<section class="shop-header">
    <img class="shop-header-bg" src="{{data.shop.front_cover}}">
    <div class="clearfix shop-info">
        <img src="{{data.shop.logo}}"/>
        <p>{{data.shop.name}}</p>
    </div>
</section>
<section class="shop-explain">
    <div>
        <span class="top-angle"></span>
        <div class="txt">
            {{data.shop.note}}
        </div>
        <p><i class="icon iconfont down-btn"></i></p>
    </div>
</section>
<section class="items-box">
    <p class="item-title"><span></span>{{lang.H5_GOODS_HOT}}</p>
    <ul class="items-list clearfix">
        {{#hotItemList data.item_list.list}}{{/hotItemList}}
        <!--<li>-->
            <!--<a class="item-info" href="">-->
                <!--<div class="lazy" data-img="http://imghk0.geilicdn.com/test_instashop40730-1460555321750-1.png?w=210&h=210"></div>-->
                <!--<p class="title">asdfasdflkajsdlkfjalkdjflkajdlfkajkldsf</p>-->
                <!--<p class="price">RP 110.000</p>-->
            <!--</a>-->
        <!--</li>-->
        <!--<li>-->
            <!--<a class="item-info" href="">-->
                <!--<div class="lazy" data-img="http://imghk0.geilicdn.com/test_instashop40730-1460555321750-1.png?w=210&h=210"></div>-->
                <!--<p class="title">asdfasdflkajsdlkfjalkdjflkajdlfkajkldsf</p>-->
                <!--<p class="price">RP 110.000</p>-->
            <!--</a>-->
        <!--</li>-->
    </ul>
</section>
<section class="items-box">
    <p class="item-title"><span></span>{{lang.H5_GOODS_ORTHER}}</p>
    <ul class="items-list clearfix">
        {{#itemList data.item_list.list}}{{/itemList}}
        <!--<li>-->
            <!--<a class="item-info" href="">-->
                <!--<div class="lazy" data-img="http://imghk0.geilicdn.com/test_instashop40730-1460555321750-1.png?w=210&h=210"></div>-->
                <!--<p class="title">asdfasdflkajsdlkfjalkdjflkajdlfkajkldsf</p>-->
                <!--<p class="price">RP 110.000</p>-->
            <!--</a>-->
        <!--</li>-->
        <!--<li>-->
            <!--<a class="item-info" href="">-->
                <!--<div class="lazy" data-img="http://imghk0.geilicdn.com/test_instashop40730-1460555321750-1.png?w=210&h=210"></div>-->
                <!--<p class="title">asdfasdflkajsdlkfjalkdjflkajdlfkajkldsf</p>-->
                <!--<p class="price">RP 110.000</p>-->
            <!--</a>-->
        <!--</li>-->
    </ul>
</section>
<a class="contact-services" href="">
    <i class="icon iconfont ser-icon"></i>
    联系卖家
</a>